Package: com.AndyIbanez.CTWiFiToggle
Name: WiFi Toggle for Sideswitch.
Depends: firmware (>= 5.0), com.andyibanez.SideSwitch
Version: 1.0.0
Architecture: iphoneos-arm
Description: Wi-Fi Toggle for SideSwitch.
Maintainer: Leonnears
Author: Leonnears
Section: Addons (Sideswitch Toggles)